
@font-face {
    font-family:'Grotesk';
    src: url('./fonts/AlteHaasGroteskRegular.ttf');
}
@font-face {
    font-family:'Grotesk';
    src: url('fonts/AlteHaasGroteskBold.ttf');
    font-weight: bold;
}

html {
    --myText: 0;
}

#loader-area > h3 {
    font-family: Futura;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: 100px 0 0 -40px;
}

#canvas1 {
    position: fixed;
    z-index: 2;
    width:100%;
    height: 100%;
    top:0;
    left:0;
} 

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #c41b1b;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* this is for the loader animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

#entire-page {
    opacity: 0;
}

body {
font-family: 'Grotesk', Futura, "Trebuchet MS", sans-serif;
}

nav {
    /* border: solid 1px black; */
    margin : 20px;
    
}

.the-name {
   font-family: monospace;

}

nav > h1 {
    padding-left: 10px;
}

nav > h1 {
    font-family: Futura;
    font-weight: 100;
    font-size: 3rem;
    font-style: normal;
}

main {
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    margin : 20px;
    
}

.hero {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.site-headline {
    font-weight: 600;
    position: absolute;
    color: rgb(240, 240, 240);
    filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
    font-size: 4vw;
    font-family: 'Grotesk';
    font-weight: bold;
   
    
}

.site-headline > ul,li {
    list-style: none;
    
}


.hero-img {

width: 45vw;
max-height: 800px;
object-fit: scale-down;

}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}

.main-content > h1 {
    max-width: 50vw;;
    margin-left: 25%;
    margin-bottom: 20px;
    
}
.main-content > h2, h3, strong {
   
    max-width: 50vw;;
    margin-left: 25%;
    margin-bottom: 20px;
}

.main-content > p {
    
    max-width: 60vw;;
    margin-left: 25%;
    margin-bottom: 20px;
    
}

.about {
    /* opacity: var(--myText) */
}


.skills-area {
    background-color: rgb(141, 141, 230); 
    margin-left: -10%;
    margin-right: -10%;
    text-align: center;
    opacity: var(--myText)

}

.portfolio-area {
 background-color: black;
 color:white;
 margin-left: -10%;
 margin-right: -10%;
 text-align: center;
 opacity: var(--myText)
    
}
footer {
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    margin : 20px;
}