
@font-face {
    font-family:'Grotesk';
    src: url('./fonts/AlteHaasGroteskRegular.ttf');
}
@font-face {
    font-family:'Grotesk';
    src: url('fonts/AlteHaasGroteskBold.ttf');
    font-weight: bold;
}



body {
font-family: 'Grotesk', Futura, "Trebuchet MS", sans-serif;
}

nav {
    /* border: solid 1px black; */
    margin : 20px;
 
}

nav > h1 {
    padding-left: 10px;
}

body{
    
}

nav > h1 {
    font-family: Futura;
    font-weight: 100;
    font-size: 3rem;
    font-style: normal;
}

main {
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    margin : 20px;
    
}

.hero {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.site-headline {
    font-weight: 600;
    position: absolute;
    color: rgb(241, 236, 236);
    filter: drop-shadow(0 0 0.5rem rgb(22, 22, 22));
    font-size: 4vw;
    font-family: 'Grotesk';
    font-weight: bold;
    
}

.site-headline > ul,li {
    list-style: none;
    
}


.hero-img {

width: 55vw;
padding-top: 20px;
max-height: 1000px;
object-fit: scale-down;

}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.main-content > h1 {
    max-width: 50vw;;
    margin-left: 25%;
    margin-bottom: 20px;
    
}
.main-content > h2, h3, strong {
   
    max-width: 50vw;;
    margin-left: 25%;
    margin-bottom: 20px;
}

.main-content > p {
    
    max-width: 60vw;;
    margin-left: 25%;
    margin-bottom: 20px;
    
}
footer {
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    margin : 20px;
}